/*
 __     __  _    _   _  __  _____       _   _   __   
 \ \   / / | |  | | | |/ / |_   _|     | \ | |  \ \  
  \ \_/ /  | |  | | | ' /    | |       |  \| |   \ \ 
   \   /   | |  | | |  <     | |       | . ` |    > >
    | |    | |__| | | . \   _| |_   _  | |\  |   / / 
    |_|     \____/  |_|\_\ |_____| (_) |_| \_|  /_/  

    vk.com/sosdan
*/
		html {
            overflow-y:scroll;
        }
        body {
            background-color: rgba(12, 12, 12, 1);
            color: rgba(204, 204, 204, 1);
            font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
            
        }
        video {
		    width: 99%; 
			height: 99%; 
			position: fixed; 
			top:0;left:0;
		}
        img {max-width: 99%; max-height: 99%;}
        #buttons {
            display: none;
            position: fixed;
            bottom: 15px;
			left: 0;
            text-align: center;
            width: 99vw;
        }
        
        button {
            width: 45%;
            height: 30px;
        }
        
        td {
            vertical-align: top;
        }
        
        td:first-child {
            white-space: nowrap;
        }
        
        td {
            word-wrap: break-word;
        }
        
        .blink {
            animation: blink-animation 0.9s steps(5, start) infinite;
        }
        
        @keyframes blink-animation {
            to {
                visibility: hidden;
            }
        }
        
        .invisible {
            color: rgba(12, 12, 12, 1);
            color: transparent;
			-moz-user-select: none;
			-khtml-user-select: none;
			user-select: none;
        }